RuletaFuncional/historial.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT historial (listapuestas*)>
<!ELEMENT listapuestas (jugador*)>

<!ATTLIST listapuestas
  fecha CDATA #REQUIRED
  ganadora (0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36) #REQUIRED
>

<!ELEMENT jugador (apuesta+)>

<!ATTLIST jugador
  id CDATA #REQUIRED
>

<!ELEMENT apuesta (#PCDATA)>

<!ATTLIST apuesta
  tipo (NUMERO|COLOR|PAR_IMPAR) #REQUIRED
  valor CDATA #REQUIRED
  cantidad CDATA #REQUIRED
>

