ruletaPrueba/historial.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT historial (listapuestas*)>
<!ELEMENT listapuestas (jugador*)>

<!ATTLIST listapuestas
  fecha CDATA #REQUIRED
  ganadora CDATA #REQUIRED
>

<!ELEMENT jugador (apuesta+)>

<!ATTLIST jugador
  id CDATA #REQUIRED
>

<!ELEMENT apuesta EMPTY>

<!ATTLIST apuesta
  tipo (NUMERO|COLOR|PAR_IMPAR|DOCENA) #REQUIRED
  valor CDATA #REQUIRED
  cantidad CDATA #REQUIRED
>

